.cardsignin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .cardsignin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .cardsignin .card-body {
    padding: 2rem;
  }
  
  .formsignin {
    width: 100%;
  }

  .label{
    display: block !important;
    font-weight: bold;

  }
  
  .btn {
    font-size: 80%;
    border-radius: 5rem !important;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .formlabelgroup {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .formlabelgroup input {
    /* height: auto; */
    border-radius: 2rem;
  }
  
  .input{
    padding: var(--input-padding-y) var(--input-padding-x) !important;
  }
 .titleNow {
    padding: var(--input-padding-y) var(--input-padding-x) !important;
  }
  
  .formlabelgroup>.label {
    position: absolute;
    top: 0;
    left: 10px;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 0.2;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .formlabelgroup input::-webkit-input-placeholder {
    color: #777;
  }
  
  .formlabelgroup input:-ms-input-placeholder {
    color: #777;
  }
  
  .formlabelgroup input::-ms-input-placeholder {
    color: #777;
  }
  
  .formlabelgroup input::-moz-placeholder {
    color: #777;
  }
  
  .formlabelgroup input::placeholder {
    color: #777;
  }
  
  .formlabelgroup input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .formlabelgroup input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
  
  .btn-google {
    color: white;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white;
    background-color: #3b5998;
  }
  
  /* Fallback for Edge
  -------------------------------------------------- */
  
  @supports (-ms-ime-align: auto) {
    .formlabelgroup>label {
      display: none;
    }
    .formlabelgroup input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    .formlabelgroup>label {
      display: none;
    }
    .formlabelgroup input:-ms-input-placeholder {
      color: #777;
    }
  }



  .Errors {
    padding:5px 0px 0px 10px;
    color: #dc3545;
    font-size: 80%;
    font-weight: 400;
    font-style: italic; 
}
